<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African Man</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/africanMan.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/africanMan.jpg " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->
    <!--JUmbotron-->

    <!--welcome-->
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">African Man Uganda</h1>
            </div>
            <hr style="border: 2px solid black; width: 80%;">
            <div class="col-12">
                <p class="lead" style="color: red;font-weight: bold;">
                    Shaping the Future
                </p>
            </div>
        </div>
    </div>

    <!--Three column selection-->


    <!--Two column section-->
    <div class="container">
        <div class="row padding">

            <div class=" col-lg-8" style="margin: auto;">
                <h3 style="text-align: center;">REINSTATING THE BOY CHILD PRIDE</h3>
                <img class="img-fluid" src="images/boy.jpg" alt="image" style="">
                <h5 style="text-align: center;">Theme: No boy child left behind.</h5>
                <h4 style="text-align: center;">Contact Person</h4>
                <div class="row padding" style="text-align: center;">
                    <div class="col">
                        <p style="font-weight: bold;">Executive Director</p>
                        <p>Baali Damalie Irene</p>
                        <p>baalidamalie@gmail.com</p>
                        <p>0772054616 / 0752054616</p>
                    </div>
                    <div class="col">
                        <p style="font-weight: bold;">Project Manager</p>
                        <p>Alinaffe Samuel</p>
                        <p>alinaffesamuel3@gmail.com</p>
                        <p>0705683101</p>
                    </div>
                </div>

                <h4>Background</h4>
                <h3>1: INTRODUCTION AND PROJECT OVERVIEW</h3>
                <h5>1.1 Introduction.</h5>
                <p>
                    Thanks to the initiatives and all individuals that support the girl child in our communities due to
                    the many female challenges all over the world. That is one of the greatest achievements humanity has
                    come to.
                </p>
                <p>
                    That as a result has brought the need to start an initiative that also caters for the boy child.
                </p>
                <p>
                    This is an initiative started with an intention of rebuilding, reinstating, encouraging,
                    rehabilitating and reminding the boy child of his place in society.
                </p>
                <p>
                    This project comes consequently to remind everyone about the boy child. He has been forgotten and
                    this makes the demolition of the female problems almost impossible. This comes because of many
                    reasons one of them being that the girl child is not alone in this world, and will consequently
                    marry the boy child and have to spend all their lives together.
                </p>
                <p>
                    This has been noticed as the research conducted by the Uganda National Bureau of Statistics shows
                    that the number of boys that has dropped out of school in Uganda because they don’t want has risen
                    to 4 per 10 male dropouts, in the rural areas the number of boys facing child abuse has risen up to
                    84%.
                </p>
                <p>
                    The number of school dropouts is currently on the increase for the boys as the issue is being
                    tackled for the girl child, increased drug usage among the boy child, the boy child is being tackled
                    out of the different highly earning fields in the work force i.e. the females in the manufacturing
                    sector, trade sector is more than that of the male who are engaged in small earning sectors like
                    construction, transportation, and agriculture and these are very low earning sectors, more boys are
                    engaged in law breaking i.e. theft, e.tc.
                </p>
                <p>They account for 94.5% of the people in jail yet they are
                    bread winners and also more males drop out of school i.e. among people of 16-24 years 7%of the males
                    are high school dropouts and 5% of the females are high school drop outs according to UBOS as for
                    2019.
                </p>
                <p>
                    In addition, also the boy child being ignored also renders some of the would be achievements of the
                    women emancipation program useless this is a consequence as the two will get married and the boy is
                    ignorant on the new ways the marriages are handled since they differ from the ancient ones.
                </p>
                <p>
                    These new marriages include sharing house cores which many boys aren’t aware about and yet the girls
                    are being educated about the new systems in marriages therefore making the family instabilities very
                    rampant
                </p>

                <h5>1.2 Project description</h5>
                <p>
                    Boys are not prepared for their new roles in societies as fathers’ role models uncles leaders e.tc
                    and yet they need this guidance in order to make good examples and role models to the society. This
                    has forced many boys to take on habits such as drug usage, theft, e.tc.
                </p>
                <p>
                    This project will target the group of boys that are between the ages of 12-30 years of age. These
                    such boys are ignored in many ways such as, when offering education sponsorships, when providing
                    guidance especially in families as more emphasis is put on the girl child, and in many other areas.
                    The boy child is not given priority in any sector as they are not prioritized when giving out
                    scholarships, jobs, offering counselling and guidance, therefore the boys do not know their role in
                    society and yet a lot is expected out of them. They are not directed and prioritized and this broods
                    the different behavior such as drug usage etc. that bring room to social disorders such as theft,
                    kidnapping rape etc.
                </p>
                <p>
                    These challenges came to notice as of the figures published by the UBOS showing the rates of
                    employment in terms of gender showing that as more women are employed, more men are being
                    unemployed, the levels of child abuse in the villages are now high among the boys, the dropout rate
                    is now growing for boys, the drug consumption rate is rampant among boys, the gender committing more
                    of the social evils are men, and it has been noted that in families also men face more spousal abuse
                    right now(according to figures in 2014) by UNBOS.
                </p>
                <p>
                    This project will use different approaches such as through offering sponsorships majorly to the boy
                    child to encourage them attain education, offer free therapy, rehabilitation and follow up to the
                    drug intoxicated youths, offer free job training, male empowerment conferences to restore the pride
                    of the male children and youths. These will help reduces on the social evils committed in the
                    society such as theft drug abuse rape defilement.
                </p>

                <h3>2: Justification of the project</h3>
                <h5>2.1 support problems in the area</h5>
                <p>
                    This kind of support is provided only on a small scale. There is no doubt that the boy child is not
                    helped at a significant level.
                </p>

                <h5>2.2 Lack of support for the boy child</h5>
                <p>
                    The boys have a big impact on society the boy child is expected to protect, provide and look after
                    their families. They have many roles they play in societies e.g. they are
                </p>
                <p>
                    The boy child faces problems also though they are looked at as minor i.e. during adolescence boys
                    tend to explore a lot and need guidance or else they will consequently learn bad behavior i.e. drug
                    usage, they are also pressured as they have to be providers and psychologically they are forced to
                    think more about making money and this causes dropping out, and also mentally broken as they are
                    compared to the girls and will end up being discouraged from school. The boy child is also looked at
                    as a kind that is supposed to be strong not let their pain out and
                </p>

                <h3>3: PROJECT DETAILS</h3>
                <h5>3.1 Project goals and details</h5>
                <p>
                    This project is new with objectives not set to meet the needs of the boy child in particular. This
                    is an initiative that looks at the challenges faced by the boy child in Uganda both in rural and
                    urban centers
                </p>

                <h5>3.2 Specific objectives</h5>
                <ul>
                    <li>To eradicate drug usage among the youths in the country especially in urban centers.</li>
                    <li>To offer education to the financially handicapped males and females with having males as
                        superior at all levels of education</li>
                    <li>To offer free rehabilitation and therapy to those using drugs and those males who have faced
                        psychological torture.</li>
                    <li>To offer new job traning in order to reduce the unemployment among the boys in society.</li>
                    <li>To restore the boy child pride amongst the boy and this will help encourage boys to take up
                        their manly responsibilities.</li>
                </ul>

                <h5>3.3 Methods/strategies of promoting the Project objectives</h5>
                <p>
                    This project has put in place many different ways to solve the problems and achieve the objectives
                    it has in place.
                </p>
                <ul>
                    <li>
                        There shall be conferences that are organized twice a year in order to educate the boy child on
                        their roles and how they overcome the social pressure. This will also include the sensitization
                        of the general public on how to grow their boy children into the responsible men they want them
                        to be.
                    </li>
                    <li>
                        The project will also have in place full sponsorships to the boy child majorly although this
                        will also cater for the girl child. This will be put in place in order to ensure that they get
                        educated to the tertiary institutions. This will solve the problem of dropping out.
                    </li>
                    <li>
                        There will be job training sessions that will train the boy child on the different jobs. This
                        will majorly constitute of technical jobs which are taught in technical institutions will be
                        provided at no fee charged.
                    </li>
                    <li>
                        The project will also be running adverts whose main use shall be to encourage and advocate for
                        boy child support. These shall be run on televisions radios newspapers social media platform to
                        enhance knowledge on how and the need of boy child support. These are some of the ways the
                        project shall bring awareness to the public about the boy child.
                    </li>
                </ul>

                <h5>3.4 Project distribution </h5>
                <p>
                    This project intends to serve ………… no of boys in the entire project but shall be broken down into;
                </p>
                <ul>
                    <li>
                        Educating project …… boys and…… girls
                    </li>
                    <li>
                        Rehabilitation project………. boys
                    </li>
                    <li>
                        Job training project………boys
                    </li>
                    <li>
                        Conferencing project ……. boys
                    </li>
                </ul>

                <h3>4 Strategies for resource mobilization</h3>

                <h5>Outcomes and impacts of the project</h5>
                <ul>
                    <li>
                        There shall be increased employment amongst the boys in the society due to the new job training
                        sessions that shall be conducted and this will consequently put a reduction on the social evils
                        such as theft which are a result of unemployment. This impact on society will make it harmonious
                        and a happy place for the people in society.
                    </li>
                    <li>
                        The project will also provide the rehabilitation programs to those emotionally hurt people and
                        drug users and this is an individual achievement as it will improve their lives after the
                        therapy. This will reduce drug usage and other vices that accompany the use of drugs amongst the
                        youths.
                    </li>
                    <li>
                        The conferences intended to be hosted intend to build a positive belief among the boys. It also
                        intends to teach them their responsibilities in this changing modern society. This will majorly
                        change the picture that boys have to their female counterparts as this will also boost their
                        respect for the girl child this consequently solves many issues e.g. sharing responsibilities,
                        domestic violence etc.
                    </li>
                    <li>
                        This project looks forward to improving the education of the boy child and that of the girl
                        child. Though this project is entitled to helping the boy child the girl child in need of
                        support of education shall be also helped. This in turn shall increase the number of educated
                        youths which gives them an advantage to access relevant services that were looked as irrelevant
                    </li>
                </ul>

                <h3>5.0 Plan for measuring project results</h3>
                <p>
                    For purposes of systematic and accurate results we shall use the new methods that have been used by
                    other organizations.
                </p>
                <p>
                    The project shall measure the social impacts its initiative shall make through using immediate
                    results such as measuring attendance and others such as;
                </p>
                <p>
                    <span style="font-weight: bold;">Monitoring;</span> This shall be done through systematic and
                    continuous assessment of the progress of the piece of work such as how many people have been taken
                    back to school, how, many have been able to access the rehabilitation etc. this shall be followed by
                    openness and checking whether the operation goes on as planned and also timely adjustments in the
                    approaches in order to solve issues easily.
                </p>
                <p>
                    <span style="font-weight: bold;">Evaluation;</span> This will be majorly to criticize and complement
                    the results got after monitoring this shall be through sampling to see the relevance, efficiency,
                    effectiveness, impact and sustainability of programs at that particular time conducted. The sampling
                    shall be done among the people that have been part of the project and those that haven’t taken part
                    in the programs to know whether the effects are noticeable.
                </p>
                <p>
                    <span style="font-weight: bold;">Research;</span> This is one shall be divided into two such as
                    <span style="font-weight: bold;">basic research</span>
                    and this shall be used as it increases scientific knowledge. This can always be
                    applied i.e. after conducting new research it helps know whether the project is achieving. <span
                        style="font-weight: bold;">Scientific research</span>
                    this is the second division and this has an aim of using the basic research to
                    solve problems and develop new processes and techniques. This will help evaluate work and also use
                    new methods to solve problems in case the old ones become inefficient.
                </p>
            </div>
        </div>
    </div>


    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->


    <!--cards-->

    <!--Connect-->

    <div class="container-fluid" style="color: black; background-color: #fff;">
        <hr style="width: 100%; border: 1px solid rgb(129, 125, 125);">
        <div class="row  ">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">
                    <img src="images/africanMan.jpg " alt="logo"
                        style=" height: 100%; width: 100%; background-color: rgb(255, 255, 254);">
                </a>
            </div>
            <div class="col-md-4" style="margin: auto;">

                <h3>Contact Us:</h3>
                <hr style="border: 2px solid black;">
                <p><span style="font-weight: bold;">Mobile:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+256 773 964 923</p>
                <p><span style="font-weight: bold;">E-mail:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;africanmanug@gmail.com</p>
                <p><span style="font-weight: bold;">Offices:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Still under
                    construction</p>
                <p><span style="font-weight: bold;">Open Hrs:</span> &nbsp;&nbsp;8:00am - 8:00pm</p>
            </div>
            <div class="col-md-4" style="margin: auto;">

                <h3>Follow Us:</h3>
                <hr style="border: 2px solid black;">
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
                <p>WhatsApp</p>
            </div>
        </div>
        <hr style="border: 1px solid rgb(129, 125, 125);;">
        <p class="text-center" style="color: rgb(252, 8, 8);font-weight: bold;">&copy; Copyright 2021 - African Man
            Uganda. All
            Rights Reserved.</p>
    </div>


</body>

</html>