<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African Man</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/africanMan.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/africanMan.jpg " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">African Man Uganda</h1>
            </div>
            <hr style="border: 2px solid black; width: 80%;">
            <div class="col-12">
                <p class="lead" style="color: red;font-weight: bold;">
                    Shaping the Future
                </p>
            </div>
        </div>
    </div>

    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <div class="row padding">
            <div class="col-lg-3">
                <img class="img-fluid" src="images/africanMan.jpg" alt="image" style="">
            </div>
            <div class="col-md-12 col-lg-9" style="margin: auto; text-align: center;">
                <h2>PAGE STILL UNDER DEVELOPMENT!</h2>
            </div>
        </div>
    </div>


    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->

    <!--cards-->

    <!--Connect-->

    <div class="container-fluid" style="color: black; background-color: #fff;">
        <hr style="width: 100%; border: 1px solid rgb(129, 125, 125);">
        <div class="row  ">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">
                    <img src="images/africanMan.jpg " alt="logo"
                        style=" height: 100%; width: 100%; background-color: rgb(255, 255, 254);">
                </a>
            </div>
            <div class="col-md-4" style="margin: auto;">

                <h3>Contact Us:</h3>
                <hr style="border: 2px solid black;">
                <p><span style="font-weight: bold;">Mobile:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+256 773 964 923</p>
                <p><span style="font-weight: bold;">E-mail:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;africanmanug@gmail.com</p>
                <p><span style="font-weight: bold;">Offices:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Still under
                    construction</p>
                <p><span style="font-weight: bold;">Open Hrs:</span> &nbsp;&nbsp;8:00am - 8:00pm</p>
            </div>
            <div class="col-md-4" style="margin: auto;">

                <h3>Follow Us:</h3>
                <hr style="border: 2px solid black;">
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
                <p>WhatsApp</p>
            </div>
        </div>
        <hr style="border: 1px solid rgb(129, 125, 125);;">
        <p class="text-center" style="color: rgb(252, 8, 8);font-weight: bold;">&copy; Copyright 2021 - African Man
            Uganda. All
            Rights Reserved.</p>
    </div>


</body>

</html>